<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
    <link rel="stylesheet" th:href="@{/css/createacc.css}" type="text/css">
<title>新規アカウント作成</title>
</head>

    <body>
        <div class="container">
            <div class="start2">
                <p id="hello">はじめまして！</p>
                <p>このアプリでクローゼットの中身を<br>便利に管理しましょう</p>
            </div>
            
       <form th:action="@{/users/createacc}"
        th:object="${user}" method="post" id="login_form">
            <div class="form-group">
                <label for="useId"></label>
                <span id="UserId1_error" class="error_message text-danger font-weight-bold h5"></span>
                <input type="text" class="form-control" th:field="${user.userId}" id="UserId1" aria-describedby="UserID" placeholder="UserID"  name="user_id">
            </div> 
            <div class="form-group">
                <label for="passWord"></label>
                <span id="Password1_error" class="error_message text-danger font-weight-bold h5"></span>
                <input type="password" class="form-control" th:field="${user.password}" id="Password1" placeholder="Password" name="password">
            </div>
            
            <div class="button_wrapper">
                <button type="submit" class="btn btn-primary">プロフィール登録へ</button>
            </div>
            
        </form>
        
        	<div class="return">
	            <a href="/login/login" id=return>ログイン画面に戻る</a>
	        </div>
        
        </div>
    	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/js/login.js"></script>
    </body>

</html>