<!DOCTYPE hmtl>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/profile.css}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>プロフィール登録画面</title>
</head>
    
    <body>



        <div class="container">
            <div class="regist1">
                <p id="regist">プロフィール登録</p>
                <p id="tell">あなたのことを教えてください！</p> 
            </div>
    <form action="/users/profile" th:action="@{/users/profile}" 
    th:object="${user}" method="post">    
    	<input type="hidden" name="id" th:field="${user.userId}"/>
    
        <div class=slc>       
            <select id="select1" class="custom-select" th:field="${user.bornYear}">
            <option value="">生まれた年</option>
            <option th:each="i : ${#numbers.sequence(1930, 2020)}" th:value="${i}" th:text="${i}"></option>
            </select>
        </div>

        <div class="cp_ipradio">
            <input type="radio" name="cpipr03" id="a_rb1" value="男"/ th:field="${user.gender}">
            <label for="a_rb1">男性</label>
            <input type="radio" name="cpipr03" id="a_rb2" value="女"/ th:field="${user.gender}">
            <label for="a_rb2">女性</label>
        </div>

        <div class=slc>
            <select id="select1" class="custom-select" th:field="${user.area.areaId}">
            <option value="">都道府県</option>
            <option th:each="area : ${areaList}" th:value="${area.areaId}"
                    th:text="${area.areaName}"></option>
            </select>
        </div>

        <div class="login1"> 
            <button type="submit" class="btn btn-primary">登録</button>
        </div>
    </form>
            
        <div class="skip1"><a th:href="@{/top}" class="skip">TOP</a></div>
        </div>
    </body>
    
</html>