.metadata/
closet/lib/xmlunit-core-2.6.2.jar
closet/lib/validation-api-2.0.1.Final.jar
closet/lib/unbescape-1.1.6.RELEASE.jar
closet/lib/tomcat-embed-websocket-9.0.20.jar
closet/lib/tomcat-embed-el-9.0.20.jar
closet/lib/tomcat-embed-core-9.0.20.jar
closet/lib/thymeleaf-spring5-3.0.11.RELEASE.jar
closet/lib/thymeleaf-extras-java8time-3.0.4.RELEASE.jar
closet/lib/thymeleaf-3.0.11.RELEASE.jar
closet/lib/spring-webmvc-5.1.6.RELEASE.jar
closet/lib/spring-web-5.1.6.RELEASE.jar
closet/lib/spring-tx-5.1.6.RELEASE.jar
closet/lib/spring-test-5.1.6.RELEASE.jar
closet/lib/spring-security-web-5.1.5.RELEASE.jar
closet/lib/spring-security-test-5.1.5.RELEASE.jar
closet/lib/spring-security-core-5.1.5.RELEASE.jar
closet/lib/spring-security-config-5.1.5.RELEASE.jar
closet/lib/spring-orm-5.1.6.RELEASE.jar
closet/lib/spring-jdbc-5.1.6.RELEASE.jar
closet/lib/spring-jcl-5.1.6.RELEASE.jar
closet/lib/spring-expression-5.1.6.RELEASE.jar
closet/lib/spring-data-jpa-2.1.6.RELEASE.jar
closet/lib/spring-data-commons-2.1.6.RELEASE.jar
closet/lib/spring-core-5.1.6.RELEASE.jar
closet/lib/spring-context-5.1.6.RELEASE.jar
closet/lib/spring-boot-test-autoconfigure-2.1.4.RELEASE.jar
closet/lib/spring-boot-test-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-web-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-tomcat-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-thymeleaf-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-test-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-security-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-logging-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-json-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-jdbc-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-data-jpa-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-aop-2.1.4.RELEASE.jar
closet/lib/spring-boot-starter-2.1.4.RELEASE.jar
closet/lib/spring-boot-devtools-2.1.4.RELEASE.jar
closet/lib/spring-boot-autoconfigure-2.1.4.RELEASE.jar
closet/lib/spring-boot-2.1.4.RELEASE.jar
closet/lib/spring-beans-5.1.6.RELEASE.jar
closet/lib/spring-aspects-5.1.6.RELEASE.jar
closet/lib/spring-aop-5.1.6.RELEASE.jar
closet/lib/snakeyaml-1.23.jar
closet/lib/slf4j-api-1.7.26.jar
closet/lib/objenesis-2.6.jar
closet/lib/mysql-connector-java-8.0.15.jar
closet/lib/moment-2.24.0.jar
closet/lib/mockito-core-2.23.4.jar
closet/lib/lombok-1.18.6.jar
closet/lib/logback-core-1.2.3.jar
closet/lib/logback-classic-1.2.3.jar
closet/lib/log4j-to-slf4j-2.11.2.jar
closet/lib/log4j-api-2.11.2.jar
closet/lib/junit-4.12.jar
closet/lib/jul-to-slf4j-1.7.26.jar
closet/lib/jsonassert-1.5.0.jar
closet/lib/json-smart-2.3.jar
closet/lib/json-path-2.4.0.jar
closet/lib/jquery-3.4.1.jar
closet/lib/jquery-3.3.1.jar
closet/lib/jboss-logging-3.3.2.Final.jar
closet/lib/jaxb-api-2.3.1.jar
closet/lib/javax.transaction-api-1.3.jar
closet/lib/javax.persistence-api-2.2.jar
closet/lib/javax.annotation-api-1.3.2.jar
closet/lib/javax.activation-api-1.2.0.jar
closet/lib/javassist-3.23.1-GA.jar
closet/lib/jandex-2.0.5.Final.jar
closet/lib/jackson-module-parameter-names-2.9.8.jar
closet/lib/jackson-datatype-jsr310-2.9.8.jar
closet/lib/jackson-datatype-jdk8-2.9.8.jar
closet/lib/jackson-databind-2.9.8.jar
closet/lib/jackson-core-2.9.8.jar
closet/lib/jackson-annotations-2.9.0.jar
closet/lib/hibernate-validator-6.0.16.Final.jar
closet/lib/hibernate-core-5.3.9.Final.jar
closet/lib/hibernate-commons-annotations-5.0.4.Final.jar
closet/lib/hamcrest-library-1.3.jar
closet/lib/hamcrest-core-1.3.jar
closet/lib/fullcalendar-3.10.0.jar
closet/lib/dom4j-2.1.1.jar
closet/lib/classmate-1.4.0.jar
closet/lib/byte-buddy-agent-1.9.12.jar
closet/lib/byte-buddy-1.9.12.jar
closet/lib/bootstrap-3.3.7.jar
closet/lib/attoparser-2.0.5.RELEASE.jar
closet/lib/assertj-core-3.11.1.jar
closet/lib/aspectjweaver-1.9.2.jar
closet/lib/asm-5.0.4.jar
closet/lib/antlr-2.7.7.jar
closet/lib/android-json-0.0.20131108.vaadin1.jar
closet/lib/accessors-smart-1.2.jar
closet/lib/HikariCP-3.2.0.jar
closet.zip
