<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="header.css" type="text/css">
<title>ヘッダー</title>
</head>
<body>

    
<div class="header">
    
<img class="logo" src="logo.png" alt="ロゴ">
   
<dl id="menu">
    <dt><img class="hamburger" src="hamburger.png" alt="ハンバーガーボタン"></dt>
    <dd id=name>ユーザー名さん</dd>
    <dd>TOPページ</dd>
    <dd>クローゼット</dd>
    <dd>アイテム管理</dd>
    <dd>カレンダー</dd>
</dl> 
    
</div>
    
  

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="header.js"></script> 

</body>
</html>

<!--
<img class="animal" src="animal_185.png" alt="アニマル"> 
<img class="hamburger" src="hamburger.png" alt="ハンバーガーボタン">
-->