<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset='utf-8' />
  <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/moment/2.24.0/moment.js}"></script>
  <script th:src="@{/webjars/fullcalendar/3.10.0/dist/fullcalendar.js}"></script>
  <link rel='stylesheet' th:href="@{/webjars/fullcalendar/3.10.0/dist/fullcalendar.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css" media="all">  
  <link rel="stylesheet" href="../css/calendar.css">
  
  <title>Calendar Test</title>
  
</head>

<body>
	
	<!-- ヘッダー開始 -->
	<div th:replace="common/header::header"></div>
	<!-- ヘッダー終了 -->
	
  <div class="container-fluid">
      <div id='calendar'></div>
      <div id='item'>
        <div id="date-wrap" class=" bg-dark text-white p-1"><p id="date" class="text-center m-0 p-2"></p><div id="close" class="p-2 pr-4">×</div></div>
        <div id="coordinate-wrap">
	        <div><span class="label">Title: </span><span id="cordinate-title"></span></div>
	        <div id="cordinate-img" class="row mx-1">
		   	   <div class="item-img col-4 p-2" th:each=" item, i : ${itemlist}"><img th:src="@{${item.picture}}" ></div>
	      	</div>
	        <div><span class="label">Met Person: </span><span id="metperson"></span></div>
		    <div><span class="label">Comment: </span></div>
		    <div id="comment-box">
		    	<p id="cordinate-memo"></p>
		    </div>
		    <a href="/calendar/details" id="coordinate_detail_link" class="yellow_a">コーデ詳細を見る</a>
      </div>
      <a href="/calendar/add" id="coordinate_add_link" class="yellow_a">コーデを新しく登録する</a>
      <div class="overlay"></div>
    </div>
</body>

<script type="text/javascript" src="/js/header.js"></script> 
<script src="js/calendar/calendar.js"></script>
<script type="text/javascript" th:inline="javascript">

  var calendar_id =[];
  var event = [];
  var eventDate = [];
  var metPerson = [];
  
  var j = 0;
  
  [# th:each="calendar, i : ${calendarlist}"]
    /*<![CDATA[*/
    calendar_id[j] = /*[[${calendar.calendarId}]]*/;
    event[j] = /*[[${calendar.event}]]*/;
    eventDate[j] = /*[[${calendar.eventDate}]]*/;
    metPerson[j] = /*[[${calendar.metPerson}]]*/;
    /*]]>*/
    j += 1;
  [/]
  
  /*
  function print(msg) {
	document.getElementById("message").innerHTML += msg + "<br>";
  }
  
  calendar_id.forEach((value, index, array) => {
	  print(calendar_id[index]);
	  print(event[index]);
	  print(eventDate[index]);
	  print(metPerson[index]);
  });
  */
  
</script>

</body>
</html>