<!doctype html>
<html lang="ja">
    
<head>
    <meta charset="UTF-8">
    <title>コーデ詳細(カレンダー登録有)</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="stylesheet" type="text/css" th:href="@{/css/clnder_code_dsc.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}"  type="text/css" media="all">  
</head>
<body>
    
    <!-- ヘッダー開始 -->
    <div th:replace="common/header::header"></div>
    <!-- ヘッダー終了 -->
    
    <div class="code_info">
    
    <div class="img_list">
        <ul>
            <li class="i1"></li>
            <li class="i1"></li>
            <li class="i1"></li>
            <br>
            <li class="i1"></li>
            <li class="i1"></li>
            <li class="i1"></li>
            <br>
            <li class="i1"></li>
            <li class="i1"></li>
            <li class="i1"></li>
        </ul>
    </div>
    
    <div class="c_dsc">
        <p class="c_dsc_p">Event：</p>
        <p class="c_dsc_p">Date：</p>
        <p class="c_dsc_p">会った人：</p>
    </div>
    
    <div class="text">
        <div class="memo">MEMO</div>
    </div> 
    
    <div class="c_button">
        <button type="button" class="btn btn-info">削除</button>
        <button type="button" class="btn btn-warning">編集</button>
    </div>
    
    </div>  <!-- /code_info -->
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/header.js"></script> 
	<script type="text/javascript" src="/js/code_add.js"></script>
	
</body>
</html>