<!doctype html>
<html lang="ja">
    
<head>
    <meta charset="UTF-8">
    <title>コーデ詳細(カレンダー登録有)</title>
    
    <link href="clnder_code_dsc.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    
    <div class="header"></div>
        
    <div class="img_list">
        <ul>
            <li id="i1">1</li>
            <li id="i1">2</li>
            <li id="i1">3</li>
            <br>
            <li id="i1">4</li>
            <li id="i1">5</li>
            <li id="i1">6</li>
            <br>
            <li id="i1">7</li>
            <li id="i1">8</li>
            <li id="i1">9</li>
        </ul>
    </div>
    
    <div class="c_dsc">
        <p>Event：</p>
        <p>Date：</p>
        <p>会った人：</p>
        
        <div class="memo">MEMO</div>
    </div>
    
    <div class="c_button">
        <button type="button" class="btn btn-info">削除</button>
        <button type="button" class="btn btn-warning">編集</button>

    </div>
</body>
</html>