<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="login.css" type="text/css">
    <title>ログイン画面</title>
</head>
    <body>
        <div class="container-fluid">
        <div class="photo"></div>
        
        <form th:action="@{/login}" method="POST">
            <div class="form-group">
                <label for="userId"></label>
                <input type="text" class="form-control" id="UserId1" aria-describedby="UserID" placeholder="UserID" name="userId">
            </div> 
            <div class="form-group">
                <label for="passWord"></label>
                <input type="password" class="form-control" id="Password1" placeholder="Password" name="password">
            </div>
            
             <div class="button_wrapper">
                 <button type="submit" class="btn btn-primary">ログイン</button>
            </div>
            
        </form>
        <div class="start">
            <a href="/users/createacc" id=start1>このアプリを初めて使う!</a>
        </div>
        
        </div>
    </body>
    
</html>