<!DECOTYPE hmtl>
<html lang="ja">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="rogin.css" type="text/css">
    <title>ログイン画面</title>
</head>
    <body>
        <div class="container-fluid">
        <div class="photo"></div>
        
        <form>
            <div class="form-group">
                <label for="userId"></label>
                <input type="text" class="form-control" id="UserId1" aria-describedby="UserID" placeholder="UserID">
            </div> 
            <div class="form-group">
                <label for="passWord"></label>
                <input type="password" class="form-control" id="Password1" placeholder="Password">
            </div>
            
             <div class="button_wrapper">
                 <button type="submit" class="btn btn-primary">ログイン</button>
            </div>
            
        </form>
        <div class="start">
            <a href="遷移したい画面のURL" id=start1>このアプリを初めて使う！</a>
        </div>
        
        </div>
    </body>
    
</html>