

<div class="header" th:fragment="header">
    
<img class="header_logo" src="/images/header/header_logo.png" alt="ロゴ">
   
<dl id="menu">
    <dt><img class="hamburger" src="/images/header/hamburger.png" alt="ハンバーガーボタン"></dt>
    <dd id="header_username"><a href="#" class="btn btn-header usr">ユーザー名さん</a></dd>
    <dd id="header_top"><a href="/top" class="btn btn-header">TOP</a></dd>
    <dd id="header_clo"><a href="/item/item_list" class="btn btn-header">Item</a></dd>
    <dd id="header_item"><a href="/coordinate" class="btn btn-header">Coordinate</a></dd>
    <dd id="header_calendar"><a href="/calendar" class="btn btn-header">Calendar</a></dd>
    <dd id="header_logout"><a href="#" class="btn btn-header logout">ログアウト</a></dd>
</dl> 
    
</div>

