<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="item_details.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form th:action="@{/item/item_details}"></form>
    
    <div class="header"></div>
        
        <div class=photo>
            <img src="..." class="img-fluid" alt="Responsive image">
        </div>
        
        <div class="category">
            <button type="button" class="btn btn-info">カテゴリー</button>
            <button type="button" class="btn btn-info">季節</button>
            <button type="button" class="btn btn-info">カラー</button>
        </div>
        
        <div class=memo>MEMO</div>
        
        <div class="button">
            <button type="button" class="btn btn-primary">削除</button>
            <button type="button" class="btn btn-secondary">編集</button>
        </div>
    
</body>
</html>