<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../../static/css/item_details.css" th:href="@{/css/item_details.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css" media="all"> 
</head>
<body>

<div th:object="${item}">
	
	<!-- ヘッダー開始 -->
	<div th:replace="common/header::header"></div>
	<!-- ヘッダー終了 -->
	
	<div class="item_detail_screen">
	
    <div class=photo>
        <img th:src="*{picture}" class="img-fluid" alt="Responsive image">
    </div>
    
    <div class="category">
        <span class="badge badge-info" th:text="*{category.categoryName}">カテゴリー</span>
        <span class="badge badge-info" th:text="*{season.seasonName}">季節</span>
        <span class="badge badge-info" th:text="*{color.colorName}">カラー</span>
    </div>
    
    <div class=memo th:text="*{comment}">MEMO</div>
    
    <form method="get" th:action="@{/item/item_edit}+(__*{itemId}__)" enctype="multipart/form-data">
    	<div>
        	<button id="open" type="button" class="btn btn-primary">削除</button>
        	<button type="submit" class="btn btn-secondary">編集</button>
    	</div>
    </form>

<!--    削除確認(モーダル表示)-->
    <div id="overlay"></div>
    <div id="modalWindow">

    <div class="button">
        <p  class="del_mes">本当に削除しますか？</p>
        <div class="out_block">
          <div class="in_block">
            <form th:action="@{/item/item_details{id}(id=${item.itemId})}" th:method="delete">
              <input class="btn btn-default btn-red" type="submit" value="はい" />
            </form>
          </div>
          <div class="in_block">
            <button id="close" class="btn btn-default">いいえ</button>
          </div>
       </div>
    </div>
<!--    ここまでモーダル-->
</div>
</div>
</div>

	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../static/js/modalWarning.js" th:src="@{/js/modalWarning.js}"></script>
    <script type="text/javascript" src="/js/header.js"></script> 
</body>
</html>