<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="utf-8">
      
    <link rel="stylesheet" href="reset.css" type="text/css">
    <link rel="stylesheet" href="item_list_edit.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
    
<body>
<form th:action="@{/item/item_select}"></form>
      
    <div class=header>
    </div>
      
    <div class="container-fluid">

        <div class=select>
            <aside class="menu">
                <h1>Category</h1>
                    <div class="opened-for-codepen">
                    <h2>Tops</h2>
                        <div class="opened-for-codepen">
                            <h3>All</h3>
                            <h3>シャツ/ブラウス/カットソー</h3>
                            <h3>ニット</h3>
                            <h3>パーカー/スウェット</h3>
                        </div>
        
                    <h2>Outer</h2>
                        <div class="opened-for-codepen">
                            <h3>All</h3>
                            <h3>ジャケット</h3>
                            <h3>コート</h3>
                            <h3>ブルゾン</h3>
                        </div>
        
                    <h2>Bottoms</h2>
                        <div>
                            <h3>All</h3>
                            <h3>パンツ</h3>
                            <h3>スカート</h3>
                        </div>
        
                    <h2>Onepiece</h2>
                        <div class="opened-for-codepen">
                            <h3>All</h3>
                            <h3>ワンピース</h3>
                            <h3>サロペット</h3>
                            <h3>オールインワン</h3>
                        </div>
        
                    <h2>Goods</h2>
                         <div class="opened-for-codepen">
                             <h3>All</h3>
                             <h3>帽子</h3>
                             <h3>バッグ</h3>
                             <h3>シューズ</h3>
                        </div>
                    </div>
  
                 <h1>Season</h1>
                    <div>
                        <h2>All</h2>
                        <h2>Spring</h2>
                        <h2>Summer</h2>
                        <h2>Autumn</h2>
                        <h2>Winter</h2>
                    </div>
            </aside>
          
            <div class="color">
                <form>
                <input type="color" value="#ffffff" list="colors" name="color">
                    <datalist id="colors">
                        <option value="#F54337"></option>
                        <option value="#2296F3"></option>
                        <option value="#689E39"></option>
                        <option value="#FDD735"></option>
                        <option value="#9475CC"></option>
                    </datalist>
                </form>
            </div>
        </div>
          
        <div class="item_list">
            <ul class="list  list-unstyled">
                <li class="item">item1</li>
                <li class="item">item2</li>
                <li class="item">item3</li>
                <li class="item">item4</li>
                <li class="item">item5</li>
                <li class="item">item6</li>
                <li class="item">item7</li>
                <li class="item">item8</li>
            </ul>
        </div>
          
    </div>
       
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="test.js"></script> 
</body>
</html>