<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../static/css/reset.css" th:href="@{/css/rest.css}" type="text/css">
    <link rel="stylesheet" href="../../static/css/item_list_edit.css" th:href="@{/css/item_list_edit.css}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class=header>
    </div>

    <div class="container-fluid">

      <div class=select>
        <ul id="menu">
          <li><h1 id="category">Category
            <span class="category_spanX"></span>
            <span class="category_spanY"></span>
          </h1>
            <ul class="category1">
              <li th:each="category : ${itemSelect.categoryList}">
                <h1 class="categoryX" th:text="${category.getCategoryName()}"></h1>
                <ul class="category2">
                  <li class="categoryY">
                    <p th:value="${category.categoryId}">All</p>
                  </li>
                  <li class="categoryY" th:each="subCategory: ${itemSelect.subCategoryList}" th:if="${category.getCategoryId() == subCategory.getCategory().getCategoryId()}">
                    <p th:value="${subCategory.getSubCategoryId()}" th:text="${subCategory.getSubCategoryName()}"></p>
                  </li>
                </ul>
            </ul>
          </li>

          <li><h1 id="season">Season
            <span class="season_span"></span>
          </h1>
            <ul class="season">
              <li><p class="seasonP" th:each="season : ${itemSelect.seasonList}" th:value="${season.getSeason_id()}" th:text="${season.getSeasonName()}"></p></li>
            </ul>
          </li>
        </ul>

        <div class="color">
          <form>
            <input type="color" value="#ffffff" list="colors" name="color">
            <datalist id="colors">
              <option value="#F54337"></option>
              <option value="#2296F3"></option>
              <option value="#689E39"></option>
              <option value="#FDD735"></option>
              <option value="#9475CC"></option>
            </datalist>
          </form>
        </div>
      </div>

      <div class="button">
        <button type="button" class="btn btn-block add">新しいアイテムの登録</button>
      </div>

      <div class="pe" th:each=" item : ${itemList}">
        <a th:href="@{/item/item_details}+(__${item.itemId}__)" class="btn btn-block item_list">
          <div>
            <img th:src="@{${item.getPicture()}}">
          </div>
          <div class="p-name" th:text="${item.getCategory()}+${item.getSubCategory()}+${item.getSeason()}+${item.getColor()}"></div>
        </a>
      </div>

<!--      <div class="pe">-->
<!--      <a  href="/item/item_details" class="btn btn-block item_list">-->
<!--        <div>-->
<!--          <img src="../../static/images/item/Tshirt.jpg" th:src="@{/images/item/Tshirt.jpg}">-->
<!--        </div>-->
<!--        <div class="p-name">TOPS Tshirt/blouse Summer Black</div>-->
<!--      </a>-->
<!--      </div>-->
<!--      -->
<!--      <div class="pe">-->
<!--      <a  href="/item/item_details" class="btn btn-block item_list">-->
<!--        <div>-->
<!--          <img src="../../static/images/item/Tshirt.jpg" th:src="@{/images/item/Tshirt.jpg}">-->
<!--        </div>-->
<!--        <div class="p-name">item01</div>-->
<!--      </a>-->
<!--      </div>-->
<!--      -->
<!--      <div class="pe">-->
<!--      <a  href="/item/item_details" class="btn btn-block item_list">-->
<!--        <div>-->
<!--          <img src="../../static/images/item/Tshirt.jpg" th:src="@{/images/item/Tshirt.jpg}">-->
<!--        </div>-->
<!--        <div class="p-name">item01</div>-->
<!--      </a>-->
<!--      </div>-->
<!--      -->
<!--      <div class="pe">-->
<!--      <a  href="/item/item_details" class="btn btn-block item_list">-->
<!--        <div>-->
<!--          <img src="../../static/images/item/Tshirt.jpg" th:src="@{/images/item/Tshirt.jpg}">-->
<!--        </div>-->
<!--        <div class="p-name">item01</div>-->
<!--      </a>-->
<!--      </div>-->
<!--      -->
<!--      <div class="pe">-->
<!--      <a  href="/item/item_details" class="btn btn-block item_list">-->
<!--        <div>-->
<!--          <img src="../../static/images/item/Tshirt.jpg" th:src="@{/images/item/Tshirt.jpg}">-->
<!--        </div>-->
<!--        <div class="p-name">item01</div>-->
<!--      </a>-->
<!--      </div>-->
<!--      -->
<!--      <div class="pe">-->
<!--      <a  href="/item/item_details" class="btn btn-block item_list">-->
<!--        <div>-->
<!--          <img src="../../static/images/item/Tshirt.jpg" th:src="@{/images/item/Tshirt.jpg}">-->
<!--        </div>-->
<!--        <div class="p-name">item01</div>-->
<!--      </a>-->
<!--      </div>-->
<!--      -->
<!--      <div class="pe">-->
<!--      <a  href="/item/item_details" class="btn btn-block item_list">-->
<!--        <div>-->
<!--          <img src="../../static/images/item/Tshirt.jpg" th:src="@{/images/item/Tshirt.jpg}">-->
<!--        </div>-->
<!--        <div class="p-name">item01</div>-->
<!--      </a>-->
<!--      </div>-->
<!--      -->
<!--      <div class="pe">-->
<!--      <a  href="/item/item_details" class="btn btn-block item_list">-->
<!--        <div>-->
<!--          <img src="../../static/images/item/Tshirt.jpg" th:src="@{/images/item/Tshirt.jpg}">-->
<!--        </div>-->
<!--        <div class="p-name">item01</div>-->
<!--      </a>-->
<!--      </div>-->
      
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../../static/js/item_list.js" th:src="@{/js/item_list.js}"></script>
  </body>

</html>