body {
  width: 100%;
}
.container-fluid {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  padding-top: 140px;
}
#item {
  bottom: 0;
  z-index: 100; 
  max-height: 40vh;
}
#coordinate-wrap {
  height: 400px;
  overflow-y: scroll;
  padding: 30px;
  font-size: 1.5rem;
}
#coordinate-wrap>* {
	padding-top: 10px;
}
#cordinate-img {
	padding: 10px;
	min-height: 100px;
	margin-top: 10px;
}
.label {
	font-weight: bold;
	color: lightGrey;
	display: inline;
}
#comment-box {
	background-color: lightgray;
	padding: 10px;
	min-height: 200px;
	margin-top: 10px;
}

#calendar {
  height: 100vh;
  transition: .3s ease-out;
}
#calendar .fc-scroller {
  transition: .3s ease-out;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#date {
  z-index: 100;
  width: 100%;
    font-size: 35px;
  text-align: center;
}

.item-img div{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}
.item-img div div, .item-img div img {
  position:absolute;
}

#date-wrap {
	position: relative;
}
#close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 35px;
}

.fc-event-container {
    pointer-events: none;
}

.yellow_a {
    color: #D9B918;
    font-size: 35px;
    margin-top: 2rem;
    display: block;
    text-align: center;
}
#calendar h2 {
	font-size: 2rem;
}

#calendar span {
	font-size: 1.5rem;
}

.fc-button {
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
}

.fc-icon {
    width: 60px;
    color: #616161;
    text-align: center;
    font-size: 40px;
}