body {
  width: 100%;
}
.container {
  height: 600px;
  width: 100%;
  overflow: hidden;
  padding-top: 140px;
}
#item {
  bottom: 0;
}
#coordinate-wrap {
  height: 400px;
  overflow-y: scroll;
}
#calendar {
  /* height: 100%; */
  transition: .3s ease-out;
}
#calendar .fc-scroller {
  transition: .3s ease-out;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#date {
  z-index: 100;
  width: 100%;
  text-align: center;
}

.item-img div{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}
.item-img div div, .item-img div img {
  position:absolute;
}

#date-wrap {
	position: relative;
}
#close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
}

.fc-event-container {
    pointer-events: none;
}