/* ヘッダー以下全体 */
.code_add_screen{
	padding-top: 120px;
}

/* セレクトボックス範囲 */
.slc{
    display: block;
    width: 750px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.custom-select{
    width: 750px;
    height: 100px;
    font-size: 30px;
    background-color:#E0F4F8;
    margin: 0 auto;
}

/* アイテム写真表示範囲 */
.img_list {
    padding-top: 25px;
}
.flex{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;	
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.i1 {
    list-style: none;
    width: 140px;
    height: 140px;
    /* border: solid 2px black; */
    margin: 20px 10px;
    /* プラスをテキスト表示してた名残？　text-align: center; */
    /*
    background-image: url("/images/item/code_add_button.png");
    background-size: 132px; */
}

.img {
	width: 100%;
  /*  width: 140px;
   height: 140px; */
}

/* .custom-selectで指定
#select1{
    width: 750px;
    height: 100px;
    background-color:#E0F4F8;
    margin: auto;
    font-size: 30px;
} */

/* アイテム写真表示範囲の背景 */
.photobtn{
    height: 600px;
    width: 480px;
    background-color: #E0E0E0;
    text-align: center;
    margin: 50px auto; 
}

/* 該当クラスなし
.photobtn
.btn1,.btn-info1{
    margin: 55px 5px 8px 20px;
    width: 120px;
    height: 120px;
    font-size: 50px;
    background-color: #A8CCD4;
    color: #ffffff;
    border-radius: 20px;
    border: 1px solid #ccc;
} */

.Title1{
    width: 750px;
    margin: auto;
}

.Title1
.form-control{
    width: 750px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.Date1{
    width: 750px;
    margin: auto;
}

.Date1
.form-control{
    width: 750px;
    height: 200px;
}

input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
  border: 1px solid #ccc;
}


#Dateid{
    background-image: url(calendar3.jpeg);
    background-repeat: no-repeat;
}

.Person1{
    width: 750px;
    margin: auto;
}

.Person1
.form-control{
    width: 750px;
    height: 100px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.Memo1{
    width: 750px;
    margin: auto;
}

.Memo1
.form-control{
    width: 750px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

/* ボタンボックス */
.enterbtn{
    width: 660px;
    margin: 60px auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;	
}
/* ボタンデザイン */
.btn{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    font-size: 28px;
    color: white;
    text-align: center;
    margin: 40px;
}
/* ボタン文字色変更 */
.back { background-color: #95B8BF; }
.add { background-color: #D9B918; }