.code_list{
    width: 46%;
    height: 600px;
    float: left;
    margin: 2%;
    padding: 2%;
    border: solid 1px black;
}

/* リンク範囲要素 */
.btn.btn-block.code{
	width: 100%;
	padding: 2%;
	font-size: 30px;
	text-align: left;
}

/* コーデ使用アイテム */
.item{
    width: 31%;
    height: 125px;
    border: solid 1px black;
    float: left;
    margin: 1%;
    text-align: center;
    font-size: 30px;
}

/* コーデ登録ボタン */
.add_button{
    width: 150px;
    height: 150px;
    color: white;
    font-size: 85px;
    font-weight: bolder;
    border-radius: 20px;
    background-color: #D9B918;
    position: fixed;
    bottom: 5%;
    right: 5%;
}

/* タイトル、イベント名、日付など */
p{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

/* アイテム写真 */
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}