.btn.btn-block{
    margin: 10px 0;
    background: #D9B918;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.btn.btn-block:hover{
    background-color: #BEA10D;
    color: white;
}

.item{
    width: 25%;
    height: 237.5px;
    border: solid 1px black;
    float: left;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

input{
    width: 100%;
    height: 60px;
}

ul.category1,ul.category2,ul.season{
    display: none;
}

#menu {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 100%;
}

.category1 h1{
    background-color: #C2E9F2;
}

.categoryY, .seasonP{
    font-size: 30px;
    margin: 10px auto;
}