.container-fluid{
	padding-top: 120px;
}


/* アイテム登録ボタン */
.btn.btn-block.add{
    margin: 10px 0;
    background: #D9B918;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.btn.btn-block.item_list{
	width: 100%;
	padding: 2%;
	font-size: 30px;
	text-align: left;
}

.item{
    width: 25%;
    height: 237.5px;
    border: solid 1px black;
    float: left;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

/* カラーパレット */
input{
    width: 100%;
    height: 60px;
}

/* 検索条件 */
.select{
	margin-top: 20px;
}

ul , li{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

/* カテゴリ､季節選択 */
#item_menu {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 100%;
}


#category , #season{
    font-size: 70px;
    border-bottom: 3px solid gray;
}

/* 選択中のカテゴリ､季節 */
span{
    color: dimgrey;
    font-size: 50px;
}

/* カテゴリ1 */
.category1 h1{
    background-color: #C2E9F2;
    border-bottom: 2px solid #A6D0DA;
    font-size: 50px;
}

/* 季節 */
.season li{
    font-size: 50px;
    border-bottom: 1px solid #C2E9F2;
    margin: 5px auto;
}

/* カテゴリ2 */
.category2 li{
    font-size: 40px;
    border-bottom: 1px solid #C2E9F2;
}

/* カテゴリ1,カテゴリ2,季節の項目非表示 */
ul.category1,ul.category2,ul.season{
    display: none;
}

/* アイテム写真＋情報のボックス */
.pe{
    float: left;
    width: 25%;
}

.pe img{
    width: 100%;
    height: 237px;
}
.p-name{
	width: 100%;
	font-size: 30px;
    margin-bottom: 16px;
}

@media screen and (max-width:600px) {
    .pe{
        width: 100%;
    }
}

/* リンクの文字色を黒に統一 */
/* a:link, a:visited, a:hover, a:active { color:black; } */