/* ヘッダー以下全体 */
.container-fluid{
	padding-top: 120px;
}

/* 条件選択 */
.select{
	margin-top: 20px;
}

/* スライドメニュー */
#item_menu {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 100%;
}

/* カラーパレット */
input{
    width: 100%;
    height: 60px;
}

/* アイテム登録遷移ボタン */
.btn.btn-block.add{
    margin: 10px 0;
    background: #D9B918;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

ul,li{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#category , #season{
    font-size: 70px;
    border-bottom: 3px solid gray;
}

/* 選択中のカテゴリ表示 */
span{
    color: dimgrey;
    font-size: 50px;
}

/* カテゴリー１ */
.category1 h1{
    background-color: #C2E9F2;
    border-bottom: 2px solid #A6D0DA;
    font-size: 50px;
}

/* カテゴリー２ */
.category2 li{
    font-size: 40px;
    border-bottom: 1px solid #C2E9F2;
}

/* 季節 */
.season li{
    font-size: 50px;
    border-bottom: 1px solid #C2E9F2;
    margin: 5px auto;
}

/* カテゴリー１、カテゴリー２、季節を非表示 */
ul.category1,ul.category2,ul.season{
    display: none;
}

/* アイテム表示部分全体 */
.flex{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;	
    flex-flow: row wrap;
    justify-content: space-around;
}

/* アイテムとアイテム情報 */
.pe{
	width: 25%;
    max-width: 241px;
    position: relative;
}
.pe a{
	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
}
/* アイテム写真 */
.pe img{
    width: 100%;
    max-width: 237px;
    height: 237px;
}
/* アイテム情報 */
.p-name{
	width: 100%;
	font-size: 30px;
	text-align: left;
	padding: 2%;
    margin-bottom: 16px;
}

@media screen and (max-width:600px) {
    .pe{
        width: 100%;
    }
}