html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* --------   reset css   ------------ */
.img_list {
    margin: 70px;
}

ul {
    width: 536px;
    height: 600px;
    border: solid black;
    margin: auto;
    padding: 40px 10px 40px 10px;
}

li {
    float: left;
    list-style: none;
    width: 150px;
    height: 150px;
    border: solid 2px black;
    margin: 10px;
    text-align: center;
    background-color: #E0E0E0;
}

.c_dsc {
    width: 766px;
    margin: 50px auto;
}

p {
    width: 766px;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 50px;
}

.text {
    width: 806px;
    margin: auto;
}

.memo {
    width: 766px;
    height:180px;
    border: solid black;
    margin: 20px;
}

.c_button {
    width: 665px;
    margin: auto;
}

.btn {
    width: 250px;
    height: 80px;
    margin: 90px 40px;
}

.btn.btn-info {
    font-size: 28px;
    background-color:#95B8BF;
    border:none;
}

.btn.btn-info:hover {
    background-color: #7CA0A7;
}

.btn.btn-warning {
    font-size: 28px;
    background-color: #D9B918;
    border:none;
}

.btn.btn-warning:hover {
    background-color:#BEA10D;
}
