

/*TOP画像*/
.top_image{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

.top_picture{
  width:100%;
  height:400px;
  margin-bottom: 0;
  background-image: url("../images/top/top_picture.jpg");
  opacity: 0.6;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
  position: absolute;
  width: 450px;
  height:220px;
  background-image: url("../images/top/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/*TOPから他のページへの遷移ボタン*/
.top_button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.btn-blue{
  background-color: #95B8BF;
  opacity: 0.7;
  color: white;
  font-weight: bold;
  border-radius: 0;
}
.btn-blue:hover{
  background-color: #95B8BF;
  opacity: inherit;
}
.btn-yellow{
  background-color: #D9B918;
  opacity: 0.7;
  color: white;
  font-weight: bold;
  border-radius: 0;
}
.btn-yellow:hover{
  background-color: #D9B918;
  opacity: inherit;
}

.icon_pic{
  width: 85px;
  height: 85px;
}
.icon_txt{
  font-size: 40px;
}

/*TOP下画面*/
.top_bottom{
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 620px;
}

/*アイテム　スライドショー*/
.slideshow{
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50%;
  margin: 10px;

}

.slide_pic{
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
  width: 450px;
  height: 600px;
  background: #95B8BF;
}


/*天気*/
.weather{
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50%;
  height: 620px;
  margin: 10px;
}
.day{
  height: 45%;
}
.icon{
    width: 140px;
    height: 140px;

}

.weather_icon{
  padding: 30px;
  float: left;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.weather_info{
  margin: auto;
  padding: 20px;
  float: left;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  font-size: 25px;
}
