<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
        
  <link rel="stylesheet" href="../../static/css/reset.css" th:href="@{/css/rest.css}" type="text/css">
  <link rel="stylesheet" href="../../static/css/code_list.css" th:href="@{/css/code_list.css}" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css" media="all">  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
    
<body>

	<!-- ヘッダー開始 -->
	<div th:replace="common/header::header"></div>
	<!-- ヘッダー終了 -->
        
  <div class="container-fluid" th:each="code : ${codeList}">

  <div class="flex">
    <div class="code_list" th:id="${isEven} ? 'add_calender' : 'only_code'">
      <div>
        <ul class="list list-unstyled flex">
          <li class="item" th:each="item : ${code.itemlist}"><img th:text="${item.picture}" th:src="@{/images/item/Tshirt.jpg}"></li>
        </ul>
      </div>
      <div th:switch="${code.haveCalender}">
        <div class="dsc" th:case="1" th:each="calendar : ${code.calendarList}">
          <p class="event" > EVENT </p>
          <p class="e_name" th:text="${calendar.event}"> ○○○-○○○コンサート </p>
          <p class="date" > DATE </p>
          <p class="d_name" th:text="${calendar.eventDate}"> 2019/08/10  </p>
        </div>
          <div class="dsc" th:case="0 or null">
            <p class="title" > TITLE </p>
            <p class="t_name" th:text="${code.coordinate_title}">○○○○コンサート用</p>
            <p></p>
          </div> 
        </div>
      <a  href="/calendar/Clnder_code_dsc"> </a>
    </div>
    </a>
        
    <div class="button">
      <a href="/coordinate/code_add">
      <button type="button" class="add_button" name="add"> + </button>
      </a>
    </div>
  </div>
  
  <script type="text/javascript" src="/js/header.js"></script> 
    
</body>
</html>
