<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
        
  <link rel="stylesheet" href="../../static/css/reset.css" type="text/css">
  <link rel="stylesheet" href="../../static/css/code_list.css"type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
    
<body>
  <div class=header>
  </div>
        
  <div class="container-fluid">

    <div class="code_list" id="add_calender">
      <div>
        <ul class="list  list-unstyled">
          <li class="item"><img src="Tshirt.jpg"></li>
          <li class="item"><img src="bottoms.jpg"></li>
          <li class="item"><img src="shoes.jpg"></li>
          <li class="item"><img src="bag.jpg"></li>
          <li class="item">item5</li>
          <li class="item">item6</li>
          <li class="item">item7</li>
          <li class="item">item8</li>
          <li class="item">item9</li>
        </ul>
      </div>
      <div class="dsc">
        <p class="event"> EVENT </p>
        <p class="date"> DATE </p>
      </div> 
    </div>
      
    <div class="code_list" id="only_code">
      <div>
        <ul class="list  list-unstyled">
          <li class="item">item1</li>
          <li class="item">item2</li>
          <li class="item">item3</li>
          <li class="item">item4</li>
          <li class="item">item5</li>
          <li class="item">item6</li>
          <li class="item">item7</li>
          <li class="item">item8</li>
          <li class="item">item9</li>
        </ul>
      </div>
      <div class="dsc">
        <p class="event"> TITLE </p>
        <p></p>
      </div> 
    </div>
        
    <div class="button">
      <button type="button" class="add_button" name="add"> + </button>
    </div>
  </div>
    
</body>
</html>
