<!doctype html>
<html lang="ja">
    
<head>
    <meta charset="UTF-8">

    <title>コーディネート登録</title>
    
    <link href="css/reset.css" rel="stylesheet" type="text/css">
</head>   

<body>
    <div>
        <select name="" onchange="change_select();">
            <option>------</option>
            <option>コーディネートのみ登録</option>
            <option>カレンダーに登録</option>
        </select>
    </div>
    

    <div>
        <input type="button" value="+">
        <input type="button" value="+"> 
        <input type="button" value="+"> 
        <br>
        <input type="button" value="+"> 
        <input type="button" value="+"> 
        <input type="button" value="+"> 
        <br>
        <input type="button" value="+"> 
        <input type="button" value="+"> 
        <input type="button" value="+"> 
    </div>
    <br>
    
    <div>
        <input type="text" value="Event">
        <br>
        <input type="date">
        <br>
        <input type="text" value="誰と会いますか？">
        <br>
    </div>
    <div>
        <input type="text" value="Title">
    </div>
    <div>
        <textarea name="code_memo" cols="50" rows="5">MEMO</textarea>
    </div>
    
    
</body>
    

</html>