<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <title>コーデ詳細(カレンダー登録有)</title>
    
    <link href="../../static/css/only_code_dsc.css" th:href="@{/css/only_code_dsc.css}"  rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css" media="all"> 
    
</head>
<body>

<!-- ヘッダー開始 -->
<div th:replace="common/header::header"></div>
<!-- ヘッダー終了 -->

<div class="code_info_screen">
	<div class="img_list">
		<ul>
			<li class="i1"><img src="/images/item/Tshirt.jpg"></li>
			<li class="i1"><img src="/images/item/bottoms.jpg"></li>
			<li class="i1"><img src="/images/item/bag.jpg"></li>
			<br>
			<li class="i1"><img src="/images/item/shoes.jpg"></li>
			<li class="i1"><img src=""></li>
			<li class="i1"><img src=""></li>
			<br>
			<li class="i1"><img src=""></li>
			<li class="i1"><img src=""></li>
			<li class="i1"><img src=""></li>
		</ul>
	</div>
	
	    <div class="c_dsc">
	        <p class="title">Title：</p>
	    </div>
	    <div class="text">
	        <div class="memo">MEMO</div>
	    </div>
	    <div class="c_button">
	        <button type="button" class="btn btn-info btn1">削除</button>
	        <button type="button" class="btn btn-warning btn1">編集</button>
	    </div>
</div> <!-- /code_info_screen -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/header.js"></script> 

</body>
</html>