<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/error.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css" media="all"> 
    
</head>

<body>
    <div th:replace="common/header::header"></div>
    
    <div class="container-fulid">
    	<div class="error_img">ここにイラスト入れてください。</div>
        <div class="error_msg">
            <h1>Not Found</h1>
            <p>申し訳ございません。<br>指定されたページへアクセスできません。</p>
        </div>
    </div>
    
    <script type="text/javascript" src="/js/header.js"></script> 
</body>